// Navigation Style

header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: $secondary-color;
    transition: 0.6s;
    top: 0;
    left: 0;
}

.sticky{
    height: 70px;
    background-color: #fff;
    .nav-item{
        color: $secondary-color;
        &:hover{
            color: $primary-color;
        }
    }
}

.logo{
    margin: 0 20px;
    width: 45px;
    height: auto;
    path{
        fill: $primary-color;
    }
    &:hover{
        path{
            fill: #fff;
        }
    }
}