// Navigation Style

.navigation{
    margin: 0 60px;
}

.nav-item{
    font-size: 1.1rem;
    margin: 0 15px;
    font-family: $font-title;
    text-decoration: none;
    color: $primary-text-color;
    &:hover{
        color: $primary-color;
    }
}

.close-btn{
    display: none;
    height: 40px;
    width:  40px;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
    svg{
        width: 100%;
        height: 100%;
        path{
            fill: #fff;
        }
    }
}

// Media Queries

@media (max-width: 768px) {
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 100vh;
        color: #fff;
        background-color: $secondary-color;
        z-index: 3;
        transition: 0.6s;
    }
    .nav-item{
        padding-top: 40px;
    }
    .close-btn{
        display: flex;
    }
}