// Base Style
$size: 40px;
$thickness: 1px;
$lineColor: white;

$sqrt3: 1.7320508075688772;
$apothem: $sqrt3 / 2;

$relThickness: $thickness / $size;

html{
    scroll-behavior: smooth;
}

body{
    background-color: $secondary-color;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 #{$sqrt3}"><path d="M0 #{$apothem}h1L1.5 0h1L3 #{$apothem}L2.5 #{$sqrt3}h-1L1 #{$apothem}" stroke="#{$lineColor}" opacity="0.06" stroke-width="#{$relThickness}" fill="none"/></svg>');
    background-size: $size * 3 $size * $sqrt3;
    background-attachment: fixed;
}

p, a{
    font-family: $font-text;
}

// Components

.title{
    font-family: $font-title;
}

